table {
  color: teal;
  border-style: hidden;
  font: 18pt times-new-roman;
  background-color: PapayaWhip;
  margin: auto;
  text-align: center;
  border: 2px solid grey;
  border-collapse: collapse
}
td {
  padding: 5px 30px;
  border: 1px solid grey;
}
.green {
  color: green;
  font: 14pt arial;
}
.text_in_centre {
  text-align: center;
}
.small_space {
  height: 5;
}
.actual {
  color: blue;
}
